*{
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f7;
  }
  
  .individual-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .name {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .details p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
  
  .label {
    font-weight: bold;
    color: #555;
  }
  

  .loading {
    font-size: 2rem;
    color: #007bff;
  }
  